body{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.header {
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-brand {
    width: 110px;
    height: 50px;
}

.nav-item {
    margin-left: -200px;
    margin-top: 10px;
}

.arrow{
    opacity: 0.4;
}

.arrow:hover{
    opacity: 0.8;
}

.icon-form {
    margin-top: 10px;
}

.img-button {
    width: 24px;
    height: 24px;
    margin-top: -5px;
}

.d-block {
    border-radius: 20px;
}

.nav-item {
    list-style-type: none;
}

.icon-star {
    width: 17px;
    height: 17px;
}

.card {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.card-img-top {
    width: 414px;
    height: 270px;
}

.card-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.footer {
    width: 156px;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

.form-shop button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* styling of whole input container */
.form-shop {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
    margin-left: 40px;
}

/* styling of Input */
.input {
    margin-top: 10px;
    background-color: transparent;
    width: 690px;
    height: 40px;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input-card {
    background-color: transparent;
    width: 690px;
    height: 40px;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* identical to box hei
}

/* styling of animated border */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
    border-radius: var(--after-border-radius);
}

.form-shop:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.form-shop:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
    transform: scale(1);
}

/* here is code of animated border */
.form-shop:focus-within:before {
    transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
}

/* sizing svg icons */
.form svg {
    width: 17px;
    margin-top: 3px;
}

.btn-enter {
    margin-top: 10px;
    margin-right: -250px;
    width: 125px;
    height: 40px;
    padding: 10px 25px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.btn-enter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #1890FF;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btn-enter:hover {
    color: #e8e8e8;
}

.btn-enter:hover::before {
    width: 100%;
}

.btn-cart {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 10px 25px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.btn-cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #1890FF;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btn-cart:hover {
    color: #e8e8e8;
}

.btn-cart:hover::before {
    width: 100%;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.wrapper .Vkontakte:hover,
.wrapper .Vkontakte:hover .tooltip,
.wrapper .Vkontakte:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
}

.section-slider {
    margin-top: 20px;
    margin-bottom: 50px;
}

.carousel-item{
    margin-bottom: 20px;
}

.card-time {
    padding-left: 220px;
}

.card-title-form {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}


.card-body {
    margin-top: 20px;
}

.card-title {
    width: 180px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.card-time {
    margin-top: 7px;
    width: 60px;
    height: 22px;
    padding: 1px 8px;
    background: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

.card-text {
    margin-top: -2px;
    margin-left: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.icon-star {
    margin-top: 1px;
    margin-right: 7px;
    width: 24px;
    height: 24px;
}

.card-ball {
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}

.footer-logo {
    width: 110px;
    height: 50px;
    margin-top: 48px;
    margin-right: 35px;
}

.footer-link {
    width: 130px;
    margin-top: 68px;
    padding-right: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right {
    margin-right: 435px;
}

.icon-socail {
    width: 17px;
    height: 17px;
}


/*Shop style*/

.title {
    margin-bottom: 44px;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.carousel-control-prev{
    left: -120px;
}

.carousel-control-next{
    right: -120px;
}

.icon-star-title {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.icon-plus-title{
    margin-top: -40px;
}

.card-body {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.card-body:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.card-ball-plus {
    margin-top: 8px;
    margin-left: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}

.card-text-plus {
    margin-top: 8px;
    margin-left: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.card-ball-title {
    margin-top: 5px;
    margin-left: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}

.card-text-title {
    margin-top: 5px;
    margin-left: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.card-img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-img-sushi{
    width: 250px;
    height: 150px;
    margin: 0 auto;

}

.card-title-shop {
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.card-price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.btn-shop {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 32px;
    margin-bottom: 10px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}

.btn-shop:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

.btn-shop:active {
    transform: scale(0.9);
}